{% extends 'Mama.html' %}
{% load static %}
{% block CSS %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #e5f5fd;
        }
        .container {
            width: 90%;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .header img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .header h2 {
            margin: 0;
            font-size: 18px;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        textarea, input[type="text"], input[type="file"], button {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            resize: none; /* 禁止調整大小 */
        }
        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block title %}新增文章{% endblock %}

{% block content %}
    <div class="container">
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="header">
                {% if user.picture %}
                    <img class="head" src="{{ user.picture.url }}" alt="{{ user.user.username }}的頭貼"><br><br>
                {% else %}
                    <img class="head" src="../../static/picture/defult_head.png" alt="預設頭貼"><br><br>
                {% endif %}
                <h2>{{ request.user.username }}</h2>
            </div>
            <label for="id_title">標題:</label>
            <p>{{ addarticleForm.title }}</p>
            <br>
            <label for="id_description">內文:</label>
            <p>{{ addarticleForm.description }}<p>
            <br>
            <label for="id_tag">標籤:</label>
            {{ addarticleForm.tags }}
            <br>
            <label for="id_pictures">照片:</label>
            {{ addarticleForm.pictures }}
            <button type="submit">上傳</button>
        </form>
    </div>
{% endblock %}
