{% extends 'Mama.html' %}

{% block CSS %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #e5f5fd;
        }
        .container-custom {
            width: 50%;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1, p {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block title %}刪除文章__{{ post.title }}{% endblock %}
{% block content %}
    <div class="container container-custom">
        <h1>刪除文章</h1>
        <p>你確定要刪除這篇文章嗎？</p>
        <form action="." method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger w-100">刪除</button>
        </form>
    </div>
{% endblock %}
