<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}的主頁</title>
</head>
<body>
    <h1>{{ user.username }}</h1>
    
    <ul>
        <li>{{ user.email }}</li>
        <li>{{ user.first_name }}</li>
        <li>{{ user.last_name }}</li>
        <li>{{ user.password }}</li>
        <li>{{ user.profile.bio }}</li>
        <li>{{ user.profile.id }}</li>
    </ul>
    <img src="{{ user.profile.profile_picture }}" alt="{{ user.username }}的頭貼">
</body>
</html>