{% extends 'Mama.html' %}

{% block CSS %}
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 20px;
            margin: 0;
            padding: 20px;
            background-color: #e5f5fd;
        }
        .container {
            width: 900px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        textarea, input[type="text"], input[type="file"], button {
            display: block;
            max-width: 100%;
            width: 870px;
            
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 20px;
        }
        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block title %}{{ post.title }}__編輯{% endblock %}
{% block content %}
    <div class="container">
        <h1>編輯文章</h1>
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">保存修改</button>
        </form>
    </div>
{% endblock %}