{% extends 'Mama.html' %}

{% load static %}
{% block CSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block title %} {{ user.user.username }}的窩 {% endblock %}

{% block content %}
    <div class="row">
        <div class="about">
            <h1>{{ user.user.username }}</h1>
            <img class="head" src={{user.picture.url}} alt="{{ user.user.username }}的頭貼"><br><br>
            <p><b>Name</b>&ensp;&ensp;{{ user.user.first_name }} {{ user.user.last_name }}</p>
            <p><b>Email</b>&ensp;&ensp;{{ user.user.email }}</p>
            <b>Profile</b>
            <p class="profile">{{ user.bio }}</p>
            <a href="edit/"><img class="edit" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4Rwf8nOfi1JNBwLnVVPv8smt87PV9C-pK3Q&s" alt="編輯"></a>
        </div>
        <div class="article">
            <p>//這邊等資料庫確定放文章瀏覽</p>
        </div>
    </div>
{% endblock %}