{% extends 'Mama.html' %}

{% load static %}

{% block CSS %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
{% block title %} {{ user.user.username }}的窩 {% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-4 p-5 about">
            <h1>{{ user.user.username }}</h1>
            {% if user.picture %}
                <img class="head" src="{{ user.picture.url }}" alt="{{ user.user.username }}的頭貼"><br><br>
            {% else %}
                <img class="head" src="../../static/picture/defult_head.png" alt="預設頭貼"><br><br>
            {% endif %}
            <p><b>Name</b>&ensp;&ensp;{{ user.user.first_name }} {{ user.user.last_name }}</p>
            <p><b>Email</b>&ensp;&ensp;{{ user.user.email }}</p>
            <b>Profile</b>
            <p class="profile">{{ user.bio }}</p>
            <a href="edit/"><img class="edit" src="{% static 'picture/pencil.png' %}" alt="編輯"></a>
        </div>
        <div class="col-md-8 p-5">
            {% for post in posts %}
                <div class="post-item">
                    <h2 class="post-title"><a class="post" href="/post_detail/{{ post.id }}">{{ post.title }}</a></h2>
                    <p class="post-description">{{ post.description|slice:":30" }}...</p>
                    <p class="post-author">作者: {{ post.user.username }}</p>
                    <p class="post-date">發文時間: {{ post.created_at }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}