{% extends 'Mama.html' %}

{% load static %}
{% block CSS %}
<style>
  body {
      font-family: Arial, sans-serif;
      /* font-size: 20px; */
      margin: 0;
      padding: 0;
      background-color: #e5f5fd;
  }
  .container {
      width: 50%;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1 {
      text-align: center;
      margin-bottom: 20px;
  }
  textarea, input[type="text"], input[type="file"], button {
      display: block;
      max-width: 100%;
      width: 870px;
      
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      /* font-size: 20px; */
  }
  button {
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
  }
  button:hover {
      background-color: #0056b3;
  }
</style>
{% endblock %}
{% block title %} 個人檔案更新 {% endblock %}

{% block content %}
<div class="container">

  <h1>個人檔案更新</h1>
  <h2>{{ user.user.username }}</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">儲存</button><br><br>
  </form>
  
</div>
{% endblock %}