/* 在你的 CSS 文件中添加以下样式 */
.post-list {
    list-style: none;
    margin: 0 auto;
    width: 80%;
    padding: 0;
}

.post-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;


}
body {
    background-color: #e5f5fd;
}
a{
    text-decoration:none
}

a:hover{
    color: #1181e3;
}
.post-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.post-author, .post-date {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}
